<main  class="h-full  w-[47%] mobile:w-[70%] mx-auto flex flex-col gap-y-[1.375rem]" >
  <section class="w-full rounded-[1rem] bg-[#CDCDCD] cursor-pointer h-[3.75rem] mobile:h-[4rem] tablet:h-[4rem]  flex flex-row items-center px-4 justify-between hover:border-[#a245ec] hover:border-[1px]"  [class]=" empty ? 'border-sunsetorange border-[1px] ':''">
    <input   class=" text-mineshaftpwdlite pl-4 focus:outline-none  bg-[#CDCDCD]  font-bold text-[1.125rem] w-full rounded-[1rem]" [(ngModel)]="word" placeholder="Search any word..."(keydown.enter)="searchWord()"/>
    <svg  class="w-6 h-6 stroke-mediumpurple cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" (click)="searchWord()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
  </section>
  @if(empty){
    <p class="text-left -mt-7 text-[1.25rem] text-sunsetorange">Whoops can't be empty</p>
  } @else if(notFound){
    <div class="w-full mt-[8.25rem] flex flex-col justify-center items-center gap-[2.5rem]">
      <img src="../../../assets/😕.png" alt="">
      <div class="flex flex-col gap-3">
        <h3 class="font-bold text-[1.25rem] text-center">{{ errorMessage['title'] }}</h3>
        <div class="text-[1.25rem]  text-center">
          <p>
            {{ errorMessage['message'] }}
            <span>{{ errorMessage['resolution']}}</span>
          </p>
        </div>
      </div>
    </div>
  } @else {
    <div class="flex flex-col gap-4 h-full  ">
      <section  class="flex flex-row items-center justify-between px-3">
        <div  class="flex flex-col py-2 ">
          <h1 class="font-bold text-[4rem]" >{{ searchResult?.word }}</h1>
          <p class="pl-2 text-[1.5rem] font-normal text-mediumpurple">{{ searchResult?.phonetic }}</p>
        </div>
        <div (click)="playWordAudio()"  class="hover:bg-opacity-5 hover:border-[#a245ec] hover:border-[1px] rounded-full bg-[#e9cefb] w-11 h-11 bg-opacity-80 flex flex-row items-center justify-center cursor-pointer">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 fill-[#a446ee]">
            <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" />
          </svg>
          <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-5 h-5 stroke-[#a446ee] hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
          </svg>
          <audio #audioElement  [src]="wordAudio"></audio>
        </div>
      </section>
      <section class="flex flex-col pl-2 gap-y-2 h-[22.125rem] scrollable pb-2">
        @for( meaning of searchResult?.meanings; track meaning; ){
          <div class="flex flex-row items-center gap-3">
            <p class="font-bold text-[1.25rem]">{{ meaning.partOfSpeech }}</p>
            <div class="bg-mercury w-[86%] h-[0.02rem]"></div>
          </div>
          <p class="text-boulder font-thin italic  text-[1.2rem]">Meaning </p>
          <ul class=" flex flex-col gap-[0.8125rem] text-[1.125rem] ">
            @for( defi of meaning.definitions; track defi;){
              <li id="meaning-item"  class="pl-4 marker:text-mediumpurple flex flex-col gap-2">
                {{ defi.definition }}
              </li>
              <p class="pl-4 text-[1.125rem] text-boulder  font-thin">{{ defi.example }}</p>
            }
          </ul>
          <div class="flex gap-[0.031] flex-wrap items-center">
            Synonyms:
            @for(synonym of meaning.synonyms; track $index){
              <div class="flex flex-wrap gap-[0.02px] pl-2">
                <div  class="text-mediumpurple font-bold  cursor-pointer flex-wrap" title="search" (click)="searchWord($event)">
                  {{ synonym || 'no synonyms found' }}
                </div>
              </div>
             }
          </div>
        }
        <div class="w-full h-[0.04rem] bg-mercury"></div>
        <div class="flex flex-row gap-2">
          <p class="text-[0.875rem]">Source: </p>
          <a target="_blank"  class="cursor-pointer text-[0.875rem] flex items-center gap-2">{{ searchResult?.sourceUrls }}
            <img src="../../../assets/tabler_external-link.png" alt="">
          </a>
        </div>
      </section>
    </div>
  }
</main>
